[2021-09-23 18:03] Harshil-Jani opened #1 "Sample Issue : Making Chrome Extension of self Profile."
I would like to create a Project on Chrome Extension. It has below mention files
- [x] HTML
- [x] CSS
- [x] JS
- [x] JSON

This project is a simple extension that will display my profile on a small window size.
Can You plz assign this to me ?

[2021-09-23 18:09] #1 closed

[2021-09-24 04:43] soumik2012 opened #5 "Update the Readme.md File"
Add few lines to the readme.md like
Headline - # Step to Contribute
-  How to create a pull request  with some
- Steps to contribute
- Fork this repository
- Clone the repository
- Create a branch ```projectname-username-branch```
- Add your projects to a new directory, the name of the directory should be your ```ProjectName/USERNAME```
- Add ```One project``` at a time
- Add & commit
- Push chang

[2021-09-24 07:01] soumik2012 opened #11 "Suggestions for issues: ( that can help beginners) 🔰"
## Suggestions for issues: ( that can help beginners)
- brief project description

- use cases

- additional challenges (that are optional)

- reference images (warn that is just a reference and encourage their own designs)

- requirements to approve pull request Added 2 mini projects #18 (comment)

### clock example: #1

description: Make A clock, a device used to measure, keep, and indicate time

[2021-09-24 17:54] Rameshchandrapola commented on #5
Can I update Readme.md file as your requirements ???

[2021-09-24 17:55] Harshil-Jani commented on #5
Yes @Rameshchandrapola  Go Ahead ! :tada:

[2021-09-25 18:17] Harshil-Jani opened #13 "Project : Background Colour Changer"
Create a Web Page with some text, color and button also add your own creativity.

General Expectations :

- If you click on button then Background color must change.
- Make the web page mobile responsive as well.
- Atleast take 4 to 5 new colors.

**Project will be assigned on First come First Serve basis after October 1**

[2021-09-25 18:21] Harshil-Jani opened #14 "Project : Word Counter"
General Requirements :
- Create a word Counter.
-  It should count the exact number of words written on an element.
- You can implement in Any form.
- Be little more creative.

**Project Issues will be assigned on First Come First Serve Basis after October 1**

[2021-09-25 18:30] Harshil-Jani opened #15 "Project : Coin Toss"
With the on-going season on Indian Premier League, We Tenet people ask you guys to make a project that acts as a digital toss.
General Requirements :
- Create Toss, Either as a web page (More Preffered) or as Programming languages.
- Add visual effects if  you use web page.
- Try to make GUI if  you work with other programming languages.
- Show some of your creativity.

**Project Issues will be as

[2021-09-26 07:52] KaveenLaksitha commented on #14
Hi... I'm new to open source. Can I contribute to this issue?. I think I can do it.

[2021-09-26 07:58] soumik2012 commented on #14
@KaveenLaksitha go ahead 🕺

[2021-09-26 08:02] KaveenLaksitha commented on #14
@soumik2012 Thanks. If you don't mind, can you tell me how to start?

[2021-09-26 08:07] soumik2012 commented on #14
#### Step to Contribute
- Fork this repository
- Clone the repository in your computer
- Create a branch ```projectname-username-branch```
- Add your projects to a new directory, the name of the directory should be your ```Word_Counter``
- Add ```One project``` at a time
- Add & commit
- Push changes to GitHub
- Compare & Submit a Pull Request

[2021-09-26 08:19] KaveenLaksitha commented on #14
@soumik2012 Thanks

[2021-09-26 12:00] soumik2012 opened #16 "Project : Rock, Paper, Scissors 🪨 ✂️ 🧻"
General Requirements :
- Create a Rock, Paper, Scissors.
- You can implement in Any form.
- Be little more creative.

**Project Issues will be assigned on First Come First Serve Basis after October 1**

[2021-09-26 13:06] prabincankod commented on #15
Assign this to me i can make a coin toss.

[2021-09-26 13:10] nshanbhag20001412 commented on #16
hey i would like to work on this. Can you assign it to me?

[2021-09-26 13:14] soumik2012 commented on #16
@nshanbhag20001412 Go head 👍🏻

[2021-09-26 13:19] soumik2012 commented on #15
@prabincankod  Go Ahead !!!

[2021-09-26 13:25] soumik2012 opened #17 "Project : Weather Forecast ⛈️"
Make an application to predict the state of the atmosphere for a given location.
General Requirements :

- Create Toss, Either as a web page (More Preffered) or as Programming languages.
- An input for users to type city name
- Display current weather including weather condition, temperature, humidity, wind speed, and date and time
- Visualization to display the temperature change, humidity change

[2021-09-26 13:32] prabincankod commented on #13
Assign this to me. I can make a random background color changer.

[2021-09-26 13:43] nshanbhag20001412 commented on #16
Okay so Ill be making a web app using JS-HTML-CSS. I wanted to ask about the folder creation.

#### So I'm expected to create a folder named Rock-Paper-Scissors like the image below and then put my code in it right?
![image](https://user-images.githubusercontent.com/63840903/134810478-bfe8d4af-02d7-4819-b593-b1db7c7e68e8.png)

[2021-09-26 14:43] soumik2012 commented on #16
@nshanbhag20001412 That's right.

[2021-09-26 17:22] vish-han commented on #16
Can i also made the rock paper scissors game??

[2021-09-26 17:43] SudhansuuRanjan commented on #14
I want to contribute on it.

[2021-09-26 17:48] SudhansuuRanjan commented on #17
Hello... I'm a beginner. Can I contribute to this issue?.

[2021-09-26 18:20] KaveenLaksitha commented on #14
@soumik2012 I've submitted a pull request.

[2021-09-27 08:18] Jisan129 commented on #17
Can I use express framework to do this?

[2021-09-27 10:13] BajraYeJoon commented on #13
Simple Background Change Color page has been committed. Please review the PR. 😊😊

[2021-09-28 05:20] BajraYeJoon commented on #17
it would be great if you assigned me this project. Will be helpful for me to excel on my current Js skills

[2021-09-28 16:11] soumik2012 commented on #17
@Jisan129 and @BajraYeJoon  As I mentioned **First Come First Serve basis** you can create the issue or you can see the other issue.

[2021-09-28 16:33] soumik2012 opened #22 "Project : Guess the Bollywood Movies With Emoji 🎟🎞"
Make an application to Gusse the Bollywood Movies with emojis
General Requirements :
- Create a web page for this game
-  User should decide guessing time _(10 - 30 sec )_
-  Show some of your creativity.

**Project Issues will be assigned on First Come First Serve basis after 1st October**

[2021-09-29 05:26] siddhantkhariwal commented on #11
Hey, Can I fix this issue?

[2021-09-29 06:33] soumik2012 commented on #11
okay, which mini-project do you want to work on?

[2021-09-29 08:39] nandan-shah commented on #11
hey, can I work on todo or news app?

[2021-09-29 09:24] KaveenLaksitha commented on #14
@soumik2012  task is completed and pr ready to merge.

[2021-09-29 15:04] soumik2012 commented on #11
Yes @nandan-shah you can work on it create an issue I will assign to you.

[2021-09-29 16:02] nandan-shah opened #24 "Project : classic todo app"
General Requirements :

- Create a todo app.
- user can add and delete items.
- user can create multiple lists for different purposes.
- Using React, Node, and express.

[2021-09-29 16:03] nandan-shah commented on #24
@soumik2012  assign me.

[2021-09-29 16:18] soumik2012 commented on #24
@nandan-shah  Please make a pull request after 1 October. so that it will valid in Hacktoberfest2021

[2021-09-29 16:19] soumik2012 commented on #11
Yup @Sugyanee you can!!  please create an issue I will assign to you.

[2021-09-29 17:01] Sugyanee opened #25 "Project : Landing Page"
- A Landing page: Using HTML, CSS, and Javascript

[2021-09-29 17:05] Sugyanee commented on #25
@soumik2012  Do assign me

[2021-09-29 18:54] siddhantkhariwal commented on #11
I can work on the notepad app.

[2021-09-29 20:56] Harshil-Jani commented on #25
@Sugyanee Yes, You can go ahead. Try to show you creativity with your tech stacks.
Make Sure you PR this project after 1st Oct.
Happy Hacktoberfest :tada:

[2021-09-29 21:02] Harshil-Jani commented on #11
@siddhantkhariwal Go Ahead ! Create Issue for the same. You will be assigned.
Happy HacktoberFest :tada:

[2021-09-29 21:12] Harshil-Jani commented on #13
@BajraYeJoon Hey ! Next time ask maintainers to assign you the issue before PR.
We will be serving on First Come First Serve Basis. And this will help you in Open Source Journey Further as well.

Happy Hactoberfest :tada:

[2021-09-30 05:40] K-ash-ish commented on #22
Hey, can I work on this project? I'll be making this with HTML, CSS, and JS.

[2021-09-30 05:43] Harshil-Jani commented on #22
@K-ash-ish Sure ! Go Ahead.
Happy Hacktoberfest :tada:

[2021-09-30 05:46] K-ash-ish commented on #22
I'm doing it for the first time. So after forking and cloning, I have to make a folder with the name of the project and then put my files there and make a PR after 1 OCT.

[2021-09-30 06:35] soumik2012 commented on #22
Yay @K-ash-ish

[2021-09-30 07:17] siddhantkhariwal opened #27 "Project : Notepad"
**DESCRIPTION**:  Make a notepad website that saves notes in localStorage.

**GENERAL REQUIREMENTS:**

Create a website with good design and visuals.
Add delete button for deleting notes from local storage.

**USE CASE:**
Users can create notes and delete them.

**ADDITIONAL CHALLENGES :**
Create a search button so that users can search notes.

[2021-09-30 07:27] siddhantkhariwal commented on #27
@Harshil-Jani Please do assign me.

[2021-09-30 07:51] Harshil-Jani commented on #27
@siddhantkhariwal Go Ahead !
Happy Hacktoberfest :tada:

[2021-09-30 08:20] 2devyank opened #28 "Project : Memory game"
Basically It is a card Game where you will be tested your memory.

[2021-09-30 08:24] 2devyank commented on #28
@Harshil-Jani Please assign this issue to me

[2021-09-30 08:32] soumik2012 commented on #28
@2devyank Go ahead 🎆

[2021-09-30 08:33] 2devyank commented on #16
I would like to work on this issue also please assign me .

[2021-09-30 08:35] omrawal opened #29 "News App"
Can I create a news app on Flask Using the news API available?

[2021-09-30 10:05] nshanbhag20001412 commented on #16
@soumik2012 I'm done with this project . I'll be sending a PR tomorrow.

[2021-09-30 10:17] soumik2012 commented on #16
Okay @nshanbhag20001412 thank you for update!!

[2021-09-30 10:36] SanskrutiRP opened #30 "Project: Tic Tac Toe Game"
Topic : Developing Tic Tac Toe Game

Description:
-  Designing attractive website with tic tac toe game.
- User will be playing with computer
- Providing with the rules of the game

Additional Challenges:
- Providing user to choose color and symbol of his/her choice

[2021-09-30 10:37] SanskrutiRP commented on #30
Can you please assign this to me?
Thank you!!

[2021-09-30 12:12] Harshil-Jani commented on #29
Sure ! Show your Hacktoberfest Creativity :tada:

[2021-09-30 12:13] soumik2012 commented on #30
Go ahead 👍🏻 @SanskrutiRP
Happy Hacktoberfest2021 🎆

[2021-09-30 20:03] sanskruti-shahu opened #34 "Project: Spotify Clone"
Description :
This will be spotify clone with most of spotify's features.
Using html, CSS and React.

[2021-10-01 03:36] SANTHOSH17-DOT commented on #11
Can I work on phone number validator??

[2021-10-01 04:55] RajshreeVats commented on #34
Hey, can I work on this issue?

[2021-10-01 04:57] soumik2012 commented on #34
Go ahead @sanskruti-shahu  💯

[2021-10-01 04:59] soumik2012 commented on #34
You can look at another issue or make a new issue if you want ...

[2021-10-01 05:41] RepeaterCreeper opened #35 "Project : Math Chaos"
# Description :
Improve your math skills while enjoying your time! Keep track of your progress.

## Features :
- 🏆 **Leaderboard** - leaderboard is provided by local sessions.
- ⚡ **Lightning Mode** - solve each math problem as fast as you can.
   - Addition, Subtraction, Multiplication, and Division are all included.

## Setup :
Not yet implemented.

---

**Tentative Deadline : October 10th**

[2021-10-01 05:45] 7suyash7 commented on #27
Hey @Harshil-Jani I have created this project please assign it to me, so I can submit it :)

[2021-10-01 06:16] anujjain5699 commented on #28
Please assign this issue to me

[2021-10-01 06:19] Harshil-Jani commented on #35
@RepeaterCreeper Go Ahead ! Nice Idea :tada:

[2021-10-01 08:33] #5 closed

[2021-10-01 08:37] BajraYeJoon commented on #17
@soumik2012 Please review PR . If there is any issue regarding it, please guide me through it. thank you 😊

[2021-10-01 10:30] siddhantkhariwal commented on #27
Hello, @soumik2012  and  @Harshil-Jani I have created a pull request, kindly see through it.

[2021-10-01 11:19] BajraYeJoon opened #45 "Project: Dark Mode Option In a Web Page"
# Description :

A simple web page with a dark mode toggle that will have two option : light mode and dark mode.

## Features :
- User can have light mode turned on as well as dark mode

---
**Tentative Deadline :  1 days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Pr

[2021-10-01 11:20] BajraYeJoon commented on #45
@Harshil-Jani @Rameshchandrapola @soumik2012  Can you assign me this for the next project that I want to do for the hacktoberfest ?

[2021-10-01 11:33] arpan-pro-learner commented on #45
it seems good and interesting to me can I work on this 🤔

[2021-10-01 15:46] BajraYeJoon commented on #17
@soumik2012  Please review the new and updated PR 😃

[2021-10-01 19:53] Harshil-Jani commented on #45
@BajraYeJoon Go Ahead ! :tada:
Happy Hacktoberfest :rocket:

[2021-10-02 02:15] ItsRoy69 commented on #30
Can I get assigned for this ?

[2021-10-02 03:42] #28 closed

[2021-10-02 08:01] ItsRoy69 commented on #24
Can I get assigned?

[2021-10-02 09:25] BajraYeJoon commented on #45
@Harshil-Jani  Please review the PR.😃

[2021-10-02 13:23] BajraYeJoon opened #50 "Project: Animated Login UI form page"
# Description :

Demo Form Web Page that will have simple animation during login

## Features :
- Point Down some creative features !

Input ,Password field

---
**Tentative Deadline : 1 day

- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how your project is look
- Description of project
- Requirements or Setup instructions
- Name of Author(s)
-

[2021-10-02 13:25] BajraYeJoon commented on #50
@soumik2012 @Harshil-Jani  Can you please assign me this for the contribution.

Also, Please review Dark Mode in a Web page PR 😃

[2021-10-02 13:27] Ukesh-dev opened #51 "Shades-colorGenerator"
# Description :
A website for generating the different shades of colors.
## Features :
- Having the funtionality to copy the selected colors to clipboard.
- Made using Reactjs.

[2021-10-02 13:28] Ukesh-dev commented on #51
@soumik2012  Please assign it to me.

[2021-10-02 13:52] Rameshchandrapola opened #52 "Project: Dice rolling game"
# Description : Dice rolling game of two players

## Features :
- Two players will throw two dice randomly, then the result will be declared based on the score on each player dice.

---
**Tentative Deadline: 2 days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

[2021-10-02 14:01] Harshil-Jani commented on #52
Go Ahead :rocket:

[2021-10-02 14:02] Harshil-Jani commented on #51
@Ukesh-dev We have already one project named as Background_Color_Changer that serves the similar purpose ! Try something different

[2021-10-02 14:03] Harshil-Jani commented on #51
@Ukesh-dev Go Ahead ! Just Once go through Background Color Changer project from the repo and make sure your project outcome don't conflict with that.  !
Instill your creativity as well.:rocket:

[2021-10-02 14:05] Harshil-Jani commented on #50
Go Ahead @BajraYeJoon ! :rocket:

[2021-10-02 14:08] Zackaria-Slimane commented on #11
Hey there !
happy to work on the following if possible
 - cash register
- classic todo app
- notepad that saves notes in localStorage
- recent news app (from API)

Please let me know what's available to work on :)

[2021-10-02 14:13] 26tanishabanik commented on #11
@soumik2012 I want to work on the image crop project, can you kindly explain that whether it will be a GUI?

[2021-10-02 15:38] Sonukumarkeshri4 opened #54 "Can I make a game similar like the Chrome Dinosaur game , with animes and all. Please assign me this task."
I will be using Javascript , HTML, css for this task.

[2021-10-02 17:51] 26tanishabanik commented on #11
@soumik2012 the script is ready for image cropper using OpenCV and Tkinter, can I make a pull request?

[2021-10-03 02:50] soumik2012 commented on #54
Go ahead 🕹

[2021-10-03 02:50] soumik2012 commented on #54
Go ahead @Sonukumarkeshri4 🕹

[2021-10-03 03:03] #16 closed

[2021-10-03 03:04] #13 closed

[2021-10-03 03:04] #14 closed

[2021-10-03 03:10] sam-cody commented on #25
hi! can i work on it?

[2021-10-03 03:13] sam-cody commented on #22
HI! i wolud like to work on it. can you assign to me?

[2021-10-03 03:15] #17 closed

[2021-10-03 03:16] #27 closed

[2021-10-03 03:21] soumik2012 opened #56 "Update the Readme.md"
Add the Hall of frames in our readme.MD like this -

![image](https://user-images.githubusercontent.com/66599363/135738189-dd6dbdb2-ac32-48d4-aa46-63538f09c1d7.png)

[2021-10-03 03:24] jeetsdev commented on #56
Can you assign it to me? I can work on this. @soumik2012

[2021-10-03 03:24] TasinAhmed commented on #56
Hey @soumik2012 I would like to work on this

[2021-10-03 03:24] TasinAhmed commented on #56
Oh nvm. Go ahead @jeetsdev

[2021-10-03 03:26] Ayush21042002 opened #57 "Project: MineSweeper Game"
# Description :
The game is a simulation of the famous Minesweeper video game built using HTML, CSS and JS

## Features :
- Flag a cell
- Open a cell
- Restart your game after every win or loss.
- Every time bombs will be placed randomly.

---
**Tentative Deadline : 2 days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
-

[2021-10-03 03:27] Ayush21042002 commented on #57
@soumik2012 i would like to work on this project so, can you assign this to me?

[2021-10-03 03:57] jeetsdev commented on #56
Hey, buddy @soumik2012, I was trying to implement this feature using sourcerer.io but I am not able to add it. Can you help me with some resources or do I have to hardcode all the contributor's names?

[2021-10-03 04:26] jeetsdev commented on #56
I figured it out. Opened a PR for the same.

[2021-10-03 06:12] #51 closed

[2021-10-03 06:14] Mark-42-max commented on #56
I would like to take up the issue. Could I be assigned to it? @soumik2012

[2021-10-03 06:16] Mark-42-max commented on #45
Hello! I would like to contribute to the issue. Would you assign the issue to me?

[2021-10-03 07:38] sam-cody commented on #25
@Harshil-Jani  can you assign me?

[2021-10-03 08:17] swaraj-ssk commented on #57
Can you assign me this project ?

[2021-10-03 08:35] Ayush21042002 commented on #57
@soumik2012 can i work on this project?

[2021-10-03 08:45] soumik2012 commented on #57
Go ahead @Ayush21042002 👍🏻

[2021-10-03 08:46] #56 closed

[2021-10-03 11:32] 26tanishabanik opened #61 "Project: Image-Cropper"
# Description :
The app is a simple image cropper app developed in Python.

## Features :
- Browse Images
- Crop Images
- Reset any changes
- Save Image

---
**Tentative Deadline : 1 day (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how

[2021-10-03 11:49] 26tanishabanik commented on #11
I have made a pull request for the Image cropper project, issue no #61 , pull request no #62

[2021-10-03 11:56] 26tanishabanik commented on #11
#62

[2021-10-03 12:05] BajraYeJoon commented on #50
@Harshil-Jani  Please review PR😃😃

[2021-10-03 12:55] #45 closed

[2021-10-03 13:04] #50 closed

[2021-10-03 13:08] saugat-rimal commented on #11
hey, can I work on todo

[2021-10-03 13:08] #61 closed

[2021-10-03 13:10] mr-shubhams commented on #25
Hi' can I work on it?

[2021-10-03 13:12] #57 closed

[2021-10-03 13:13] Harshil-Jani commented on #15
@prabincankod  Any Updates from your side ? If you are not working on this then we shall unassign you ! Let us know your status

[2021-10-03 13:14] Harshil-Jani commented on #22
It's Already assigned. You can create new issue for some another project idea which don't already exist here.

[2021-10-03 13:18] Harshil-Jani commented on #22
@K-ash-ish Plz let us know your status with the project ! If you are facing any issues or something we can help.

[2021-10-03 13:21] Harshil-Jani commented on #25
@Sugyanee Can you update us regarding the project ? If you are not working on it then we can assign it to others !

[2021-10-03 13:22] Sugyanee commented on #25
I am working on it and will complete it by tomorrow most probably

[2021-10-03 13:23] Harshil-Jani commented on #29
@omrawal Any further updates on the project ?

[2021-10-03 13:24] Harshil-Jani commented on #30
@SanskrutiRP  Any Updates on your project ?

[2021-10-03 13:24] K-ash-ish commented on #22
@Harshil-Jani  I completed the frontend part. I'm having some issues with dom-manipulation of getting answers from users. I'm new to DOM manipulation give me some more time I'll finish it within 2 days. Sorry I didn't report the status of the project I'm new to this.

[2021-10-03 13:29] h2o-Noob opened #64 "Project : Roman Numeral Converter"
# Description :
This web-app converts numbers to roman numbers and visa versa

## Features :
- Point Down some creative features !
- it has a reset feature which resets your entered data
- it has a reverse feature by which u can click reverse button to interchange the order of conversion!

---
**Tentative Deadline : n days (Provide tentative deadline as per your analyses. Make sure it falls under

[2021-10-03 13:29] h2o-Noob commented on #64
please assign me so that i can submit my project

[2021-10-03 13:44] soumik2012 commented on #64
@h2o-Noob Go ahead 💯

[2021-10-03 13:47] omrawal commented on #29
I m very close to completion but this week I have my College Exams so is it okay if I complete and create a pull request on 9th Oct i.e. Saturday

[2021-10-03 17:32] SanskrutiRP commented on #30
Yeah done!! will do PR shortly.

[2021-10-03 19:47] Harshil-Jani commented on #22
No worries ! Take your time. Just keep updating after 2-3 days so we would know the project track.

[2021-10-03 20:02] Harshil-Jani commented on #25
Sure ! No worries take your time. We just needed timely update regarding project track.

[2021-10-03 20:03] Sugyanee commented on #25
I have created the pull request . Do check

[2021-10-03 20:34] Harshil-Jani commented on #29
@omrawal No issues. Just commit few changes at your free time once before 9th Oct and tag us here. So we can see project track on your fork itself. Take your time !

[2021-10-03 21:28] #25 closed

[2021-10-03 21:40] cosmoimai commented on #52
can you assign me this sir?

[2021-10-04 03:25] odorifqi opened #69 "Project: commalator"
# Description :
This is one of my first project case after learning javascript

## Features :
it will sums up a line of numbers separated by comma. the interface will be look like this.

![commalator](https://user-images.githubusercontent.com/72656544/135788363-a9171198-f1fd-4353-a733-bd434c51b4e7.PNG)

**Tentative Deadline : 1 days
------
if you approve this idea please assign me to working on it

[2021-10-04 04:10] K-ash-ish commented on #22
Ok I will report the status.

[2021-10-04 06:00] nyctonio commented on #69
hey can i work on this

[2021-10-04 07:15] prabincankod commented on #15
I am going to commit a simple version of it.

[2021-10-04 08:39] BajraYeJoon opened #71 "Project: Hacktoberfest Landing page ⏲⏳"
# Description :

This Landing page will feature the remaining time for the hacktoberfest 2021.

## Features :
- Register Button ✅for the participant that will redirect to hacktoberfest official site
- Countdown timer ⏳

---
Tentative Deadline : 1day

[2021-10-04 08:40] BajraYeJoon commented on #71
@Harshil-Jani @soumik2012  I came up with this new idea to contribute more, Can you please assign for the following issue? 😃🎉

[2021-10-04 11:46] soumik2012 commented on #69
Go ahead @odorifqi  💯

[2021-10-04 15:35] K-ash-ish commented on #22
hey, @Harshil-Jani   I completed most of the part only some styling is remaining. I want to ask I have to give the user a particular time for the overall quiz or for each question?

[2021-10-05 02:53] SANTHOSH17-DOT opened #76 "Project : Phone Number Validator"
# Description :
Phone Number validator app made with Javascript (using regex), HTML, CSS, and Bootstrap.

## Features :
- Glass morphism is used for frontend.

---
**Tentative Deadline : Completed

[2021-10-05 03:08] BajraYeJoon commented on #71
@soumik2012 @Harshil-Jani  Can you please assign me to this work ?😃🚀

[2021-10-05 03:13] pavankalyan-codes commented on #76
Hey can you pla assign thia to me. I'll work on it

[2021-10-05 05:22] abhirv08-1 commented on #76
@SANTHOSH17-DOT Please asssign it to me.

[2021-10-05 05:23] abhirv08-1 commented on #69
@odorifqi  Please, assign it to me.

[2021-10-05 05:33] SANTHOSH17-DOT commented on #76
@soumik2012 @Harshil-Jani Can you please assign me to this work ?

[2021-10-05 05:54] bhargav794 opened #77 "Project : Magic square calculator"
# Description :
This is a beginner-friendly project it uses basic concepts of arrays, loops, and DOM in JS. This project personally helped me to learn JS. The idea is simple it calculates Ramanujan's magic square based on the user's birth date. If you wanna know more about Ramanujan's magic square you can check it out [here](https://createyourbirthdaymagicsquare.web.app/)

## Features :
- A magic

[2021-10-05 05:57] bhargav794 commented on #77
if you like this idea please assign me to work on it. Thanks in advance.

[2021-10-05 06:38] soumik2012 commented on #71
The lading page is already made.

[2021-10-05 06:38] #71 closed

[2021-10-05 07:10] K-ash-ish commented on #22
@Harshil-Jani  hey sorry to disturb you but I did a small mistake I deleted the project folder from my computer I was deleting some other file. So, if I commit again will it show entire files changes or the changes you asked for.

[2021-10-05 08:00] bonvagnik commented on #11
May I work on a new project- an expense tracker using ReactJS?

[2021-10-05 09:16] BajraYeJoon opened #80 "Countdown Timer"
# Description :

Webpage showing the Countdown Timer remaining for the hacktoberfest 2021 (31st oct 2021) 😃

---

[2021-10-05 09:32] Harshil-Jani commented on #22
I would suggest you to clone your fork on your local system again (delete older one in case still left). So, You don't lose up any of your commits and make the requested changes on that files and push them back to same branch by which you had opened PR so it won't interefere anywhere in workflow.

[2021-10-05 09:33] Harshil-Jani commented on #22
Both way ! It works. It entirely depends on your logic. Prefer for each question, but if even if it's whole game then too it's fine.

[2021-10-05 09:41] Harshil-Jani commented on #24
@nandan-shah  Are you still working on this ?

[2021-10-05 12:26] GaushJ commented on #80
Hey @BajraYeJoon can you assign this task to me ?

[2021-10-05 14:12] K-ash-ish commented on #22
I'm unable to do the timer work.

[2021-10-05 14:35] ved08 commented on #11
hey @soumik2012 can I work on phone number validator?

[2021-10-05 14:40] NaimaGhulamMuhammad commented on #11
hey @soumik2012, I want to add a random number of colors in the background changer as there are only four colors changing...

[2021-10-05 14:57] ved08 opened #82 "Phone Number Validator"
# Description
Enter the Phone Number and know if it is valid or not

[2021-10-05 14:59] ved08 commented on #82
hey admins! can someone assign this issue to me

[2021-10-05 15:00] #82 closed

[2021-10-05 15:20] BajraYeJoon commented on #80
@GaushJ I would love to, but, I had already committed doing it. I will create new issue .😊😃

[2021-10-05 15:21] BajraYeJoon commented on #80
@soumik2012 @Harshil-Jani  This project is new , can you take the time to assign me this?
.🚀

[2021-10-05 16:04] #52 closed

[2021-10-06 08:46] Rameshchandrapola opened #84 "Project: 2048 game"
# Description :
2048 Game

## Features :
- 2048 is an easy and fun puzzle game.
- It is played on a 4x4 grid using the arrows keys. Every time you press a key - all tiles slide. Tiles with the same value that bump into one another are merged.
![](https://user-images.githubusercontent.com/76244600/135915448-95b294bb-c00e-411a-a237-43f4b71c1e79.png)

---
**Tentative Deadline: 1 day (Provide tentativ

[2021-10-06 08:50] #76 closed

[2021-10-06 08:57] soumik2012 commented on #11
These are the issue already made. You create own unique project and add them.

[2021-10-06 09:50] soumik2012 commented on #34
Any updates ??

[2021-10-06 09:50] soumik2012 commented on #35
Any updates ??

[2021-10-06 09:54] #64 closed

[2021-10-06 10:05] Sonukumarkeshri4 commented on #54
I want to make that responsive too , but getting some bugs, It's perfect in desktop mode,
I need some time.

[2021-10-06 10:19] sanskruti-shahu commented on #34
Yaa.. I am working on it. It will take 3-4 days more.

[2021-10-07 11:25] KaveenLaksitha opened #88 "Project: Number Guessing Game"
# Description :
This is a simple number guessing game developed using HTML, CSS & JS.

[2021-10-08 11:48] prerna2712 commented on #11
Can I work on the cash register?

[2021-10-09 03:54] soumik2012 commented on #11
@prerna2712 yes you can go ahead make an issue will assign to you!!

[2021-10-09 03:57] prerna2712 opened #93 "Project: Cash register"
Please assign to me

[2021-10-09 04:15] soumik2012 commented on #93
@prerna2712 Go ahead this is the first time I'm allowing you but in the issue please mention detail the project and which tech are going to do.

[2021-10-09 08:02] VaithiSniper opened #95 "A journal app for making daily entries"
# Description :
A simple MERN based journal app to allow the user to make daily entries, tag entries with labels and retrieve them as needed (filterable by date and label, or search word)

## Features :
- User can make entries with title (optional) and the actual entry. On submission, user can also add tags if necessary.
- The posts will be accumulated in db.
- User can retrieve previous entries b

[2021-10-09 08:03] VaithiSniper commented on #95
Can I work on this?

[2021-10-09 09:49] harsh-gautam opened #97 "SketchPad"
# Description :
A simple web application that display sketchpad, where users can doodle anything

## Features :
- Users can choose multiple colors to doodle with
- They can change the grid size

[2021-10-09 10:01] rajasingh10 opened #98 "ChatDom"
# Description : Responsive web app to connect people one to one and chat by
sending messages and media.
It has user Authentication(login, logout). ones able to the last seen of the user.
used context API for state management.
deployed using firebase

## Features :
- web chat app

---
**Tentative Deadline : n days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to

[2021-10-09 10:02] rajasingh10 commented on #98
I want to add this project. Please assign me.

[2021-10-09 11:03] AnurajPariya03 commented on #93
Please assign me

[2021-10-09 18:48] VaithiSniper opened #100 "Weather_Forecast"
# Description :
This is a pre-existing project in the repo. I want to suggest a change to the project. The API keys for weather data that are being used are in plaintext in the .js file. I suggest moving them to an environment file and using those.

## Features :
- Move API keys to env file

---
**Tentative Deadline : 1 day (Provide tentative deadline as per your analyses. Make sure it falls under

[2021-10-09 18:59] VaithiSniper commented on #100
Can I take this up?

[2021-10-09 18:59] #100 closed

[2021-10-10 07:17] VaithiSniper commented on #95
Similar yes, except it'll be more journal oriented. It's more like for personal use, to write and maintain a daily journal and obviously styling will be similar to a bullet journal. So the content will likely be more than a note app as well.
Also instead of the note app format where you can see all your previous notes on the board, you'll only be able to see your recent one on the account dashboar

[2021-10-10 17:00] #22 closed

[2021-10-10 17:04] #29 closed

[2021-10-10 17:26] Harshil-Jani commented on #24
Issue Open for Contribution due to inactivity. Comment below to get assigned. Follow Contribution guidelines. First Comment will be assigned the Issue.
- Time Limit : 3 days from the day assigned.

[2021-10-10 17:35] Harshil-Jani commented on #95
@VaithiSniper Cool ! Sounds Great 💯  Go Ahead 🎉

[2021-10-10 17:41] VaithiSniper commented on #95
Thank you!

[2021-10-11 04:28] #88 closed

[2021-10-11 13:24] Thetribunalcode opened #102 "CV Generator"
# Description :
A simple CV Generator with customizable text. Users on the landing page will be asked for inputs like

1. Name and other details
2. Skillset
3. Work Experience ( If any )
4. Achievements / Certifications
5. Languages and other interests/hobbies

After this, the inputs will be slotted into a presentable and professional-looking CV.

## Features :
- A very noncoder-friendly interface

[2021-10-11 14:01] soumik2012 commented on #102
Go ahead @Thetribunalcode 💯

[2021-10-11 14:52] Harshil-Jani commented on #24
@ArchanJS Go Ahead 🚀
Make Sure you follow Contribution Guidelines.

[2021-10-12 05:27] Rameshchandrapola opened #105 "Project: Neumorphic calculator"
# Description :
Neumorphic calculator

## Features :
- A calculator app designed in neumorphic design styles.

---
**Tentative Deadline : 1 day (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

[2021-10-12 07:05] swapnil0709 opened #106 "Phoxy"
# Description: I want to work and create an app Phoxy - This will be a photo viewing app like Unsplash and will make use of pexels API to generate photos that are free to use and download.

## Features :
- View high-quality pictures from almost every category you can think of.
- Search bar to search the picture you are looking for.
- Download button opens the picture in full resolution to save.
-

[2021-10-12 07:10] soumik2012 commented on #105
Okay Go ahead 👍🏻 @Rameshchandrapola

[2021-10-12 11:05] #34 closed

[2021-10-12 13:21] RahmanC opened #108 "Project: Sticky Note"
# Description :
This project is a sticky note that enables users to quickly take a temporary notes and saves to the local storage.

## Features :
- Point Down some creative features !
- Saves to local storage
- Delete button

---
**Tentative Deadline : n days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.

[2021-10-12 13:28] #108 closed, assigned to nobody

[2021-10-12 14:34] #95 closed, assigned to VaithiSniper

[2021-10-12 14:59] VaithiSniper opened #109 "Stock price alerter"
# Description :
Sends a mail when stock prices have crossed a fixed amount. Can set the amount and symbol in code.

## Features :
- fyers API for the stock prices.
- nodemailer for automailing.
- the content and title of the mail is customisable
- the TO and FROM email addresses are customisable
- on hosting, it will be actively looking changes in stock prices.

---
**Tentative Deadline : 1 days (

[2021-10-12 16:53] ArchanJS commented on #24
@Harshil-Jani Hello, I have made a PR #112 . Can you please check it.

[2021-10-14 03:35] RepeaterCreeper commented on #35
Yeah, I'm struggling with the design. Do you want me to upload the unfinished version?

[2021-10-14 07:21] SandeepKrSuman opened #114 "Project: Joke Generator"
# Description :
A web page to generate a random joke on every click.

## Features :
- Fetch and display random jokes on click

---
**Tentative Deadline : 1 day**

[2021-10-14 08:52] 5h15h1r commented on #114
@SandeepKrSuman  can you assign this to me, also do i get 24 hours only??

[2021-10-14 10:20] pavankalyan-codes commented on #114
Hey! @SandeepKrSuman Made a PR for this project. pls review the PR and merge it if everything looks fine. #115

[2021-10-14 10:54] SandeepKrSuman commented on #114
Hey @5h15h1r the assignment process is done by the project maintainers, I'm **not** one of them.
Also I have opened this issue to be assigned to myself. You can open a new issue and start working on it when it is assigned to you.

[2021-10-14 10:56] pavankalyan-codes commented on #114
Sorry I thought you were owner of this repo @SandeepKrSuman. Will read contributing guidelines.

[2021-10-14 13:47] VaithiSniper opened #116 "Having issues with cloning"
![Error](https://user-images.githubusercontent.com/58522375/137330195-5c14c983-80cf-4e31-b70e-081f3a0c4967.PNG)
Presumably due to invalid file extension. Can you look into this/help me with this?

[2021-10-15 14:01] ShiviDev opened #117 "A program to demonstrate fuzzy's extension principle"
# Description :
A program to demonstrate fuzzy's extension principle. User will input a fuzzy set and choose an operation and will get the output fuzzy set. User can choose from common mathematical operations like arithmetic or functions like trig. The aim is to :
- Simplify the intimidating concept of fuzzy's extension principle through abstraction
- A calculator for fuzzy arithmetic and other fu

[2021-10-15 15:58] Thetribunalcode opened #120 "Snake Game in Python"
# Description :
The snake game in python

## Features :
- The classic snake game, coded in python

---
**Tentative Deadline : 1 days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

[2021-10-16 08:35] soumik2012 commented on #114
@SandeepKrSuman You can work on the issue.

[2021-10-16 09:05] soumik2012 commented on #97
Any update??

[2021-10-16 09:16] Abhishek91520 commented on #120
Can I Contribute ?

[2021-10-16 11:45] Thetribunalcode commented on #120
Thank you

[2021-10-16 14:56] #120 closed, assigned to Thetribunalcode

[2021-10-17 03:10] #109 closed

[2021-10-17 03:12] #117 closed

[2021-10-17 03:15] soumik2012 commented on #102
@Thetribunalcode Are going to do this issue or not ??

[2021-10-17 03:17] soumik2012 commented on #93
@prerna2712 Any update? Are going to solve the issue or not ??

[2021-10-17 03:19] soumik2012 commented on #35
@RepeaterCreeper no need to upload the unfinished version

[2021-10-17 06:28] smabbett commented on #102
Is this still open?

[2021-10-17 07:37] prerna2712 commented on #93
Sorry I am stuck with something right now, will complete the PR by next week.

[2021-10-18 05:46] 2devyank opened #126 "BALL-PADDDLE GAME"
# Description :
This is the vintage game which everyone used to play in thier childhood i.e ball will hit the brick and brick will be destroyed , then it will fall back to the paddle if you failed to make contact between them then you will lose one life

## Features :
- Point Down some creative features !
Canvas will be used to make this game

[2021-10-18 05:54] ahmadfaizan965 opened #127 "NodeJS email sender"
Looking forward to add this project.

# Description : back-end app running on nodejs.

## Features :

---
**Tentative Deadline : 1 day

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how your project is look
- Description of project
- Requirements or Setup instructions
- Name of Author(s)
- Look at [Demo](https://github.com/Tenet-Codi

[2021-10-18 05:59] soumik2012 commented on #126
Great project @2devyank love to see your PR 👍🏻

[2021-10-18 06:54] ahmadfaizan965 opened #130 "Javascript Loan Calculator"
# Description : A simple JavaScript program to calculate the loan EMIs.

## Features :
- Calculate EMI.
- Calculate Total Interest Payout.

---
**Tentative Deadline : 1 Day**

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how your project is look
- Description of project
- Requirements or Setup instructions
- Name of Author(s)
- Look

[2021-10-18 15:27] Priyadarshan2000 opened #132 "Add Document to Handwritting Website"
Hello 👋🏻  @Tenet-Coding
# Description :
I would like to add a Document to  Handwriting javascript app . This application helps convert document to handwriting.
this is made with the help of **Google Font API**

## Features :
-  Convert to Document to the handwriting
- 10 different type of font
- Dark mode
- Download your work in png Format.
- change font size, font width

---
**Tentative Deadline

[2021-10-18 16:43] 2devyank opened #134 "Drum machine"
# Description :
Its going to be a simple machine  in which there will be several buttons and pressing on it will produce different type of sounds,
also you can control the sound level .

[2021-10-19 07:59] #114 closed, assigned to SandeepKrSuman

[2021-10-19 10:19] Vijayrajdev opened #135 "Weather App v2"
# Description :
I'm going to make a simple weather forecasting application with amazing UI.

## Features :
- Using this application you can get various weather-related information about a specific city you mentioned.
- You can also get to know about the humidity, pressure, and wind speed
---
**Tentative Deadline: 1 day

[2021-10-19 11:24] #135 closed, assigned to nobody

[2021-10-19 11:48] Vijayrajdev opened #136 "Weather app V2"
# Description :
I'm going to make a simple weather forecasting application with amazing UI.

## Features :
- Using this application you can get various weather-related information about a specific city you mentioned.
- You can also get to know about the humidity, pressure, and wind speed

---
**Tentative Deadline:  1 day

[2021-10-19 11:48] Vijayrajdev commented on #136
Hey mate !!

Assign this to me.

[2021-10-19 13:46] #136 closed

[2021-10-19 14:03] #126 closed, assigned to 2devyank

[2021-10-20 04:27] RepeaterCreeper commented on #35
@Harshil-Jani  I have it completed. I've made the pull request.

[2021-10-20 04:51] Vijayrajdev opened #140 "Zomato-clone"
# Description :
- Here I'm going to make a zomato frontend clone by using only HTML and CSS styling components.

## Features :
- Amazing UI
- Completely Responsive

---
**Tentative Deadline : 1 Day

[2021-10-20 04:52] Vijayrajdev commented on #140
Hey mate !!
Assign this one to me.

[2021-10-20 07:38] vimalprogrammer opened #142 "Donation Website"
# Description :
It is a simple donation website for a charity.

## Features :
-  This website is useful for getting donations from various people to help students who are more backward with the name of poor.
-  This is a simple straight forward website.
-  Easier to use and precise UI to handle.

---
**Tentative Deadline : 1 day

[2021-10-21 05:58] #35 closed

[2021-10-21 06:13] #102 closed

[2021-10-21 10:07] soumikbaithalu commented on #142
Go ahead @vimalprogrammer

[2021-10-22 04:59] jeetsdev opened #148 "Projet : Guess The Number In JS"
# Description :

## Features :
- Guessing the number
- Hosted on Netlify
- You can see your previous guesses

## Tech-Stack
- HTML
- CSS
- JS

---
**Tentative Deadline: 2 days **

[2021-10-23 03:08] pratikroy107 opened #149 "QUIZ GAME - made using ajax"
# Description :

- a javascipt quiz game made using AJAX.
- it doesn't reload on clicks of submission and is fully responsive

## Features :
- simple quiz game that can be played without any reload of the webpage.

---
**Tentative Deadline : n days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.md file for

[2021-10-23 05:27] #130 closed, assigned to ahmadfaizan965

[2021-10-23 05:36] JaswanthReddyPadala opened #150 "Expense Tracker"
# Description : Simple Expense Tracker Website using basic react

## Features :
- Add Expenses and Earinings by mentioning the source
- Keep track and show Expenses and Earning
- Show each record in a table

---
**Tentative Deadline : 2-3 days (before oct 26th, 2021**

[2021-10-24 07:03] #149 closed, assigned to pratikroy107

[2021-10-24 07:20] chinmayaAgrawal opened #154 "Expense-Tracker"
# Description :
- A browser based expense tracker based on ``` JavaScript ``` to keep track of income and expenses with add and remove items button and save to local storage .

## Features :

- Created UI for project
- Transaction items are displayed in DOM.
- Showing balance, expense and income totals
- Added new transition and reflecting in total
- Delete button to delete items from DOM
- Persis

[2021-10-24 07:52] chinmayaAgrawal opened #155 "Music Player"
# Description :
-  Developed a beautiful UI to play music stored in the "music folder" using the ```HTML5 audio API```

## Features :
- Developed UI for music player including spinning image and song detail popup
- Added play and pause functionality
- Switch songs
- Progress bar

---
**Tentative Deadline : 1-2 days

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Proje

[2021-10-24 08:35] pratikroy107 opened #156 "Virtual Healthcare Website"
hey there,

I want to create a virtual healthcare website.

**FEATURES**
- can contact with doctor
- can call instant ambulance
- can book medicine online
- online food delivery for covid patients
- vaccination slot booking
- oxygen cylinder booking
- and a lot more...

PLEASE ASSIGN THIS TO ME.
thank you :)

[2021-10-24 15:53] neutr0nStar opened #160 "Python GUI image steganography"
# Description :
A GUI application for image steganography made in python.

## Features :
- Encrypt a small text message in an image.
- Decrypt the text message from the image.

---
**Tentative Deadline : It is ready, just need to add to this repo.**

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how your project is look
- Description

[2021-10-25 00:17] odorifqi opened #161 "Project: Stopwatch"
# Description :
I want to make a simple stopwatch with ReactJS

## Features :
start, pause, reset

---
**Tentative Deadline : 1 days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.md file for your project.
- Name of Project
- Demo of Project in .gif how your project is look
- Description of project
- Requi

[2021-10-25 04:26] #154 closed, assigned to chinmayaAgrawal

[2021-10-25 04:36] ShivamChoudhary17 opened #162 "News App in Flutter"
# Description :

## Features :
- Fetch Data from InShorts API
- shows detail news when clicked
- can see different news related to tech, start up, business, politics, national, sports, world, health

---
**Tentative Deadline : Completed just need permission to add**

## Some Rules to follow :
- Add a README.md file for your project.
- QuickNews
- Demo of Project in .gif how your project is look
-

[2021-10-25 04:39] #162 closed, assigned to nobody

[2021-10-26 03:10] #156 closed, assigned to pratikroy107

[2021-10-26 07:54] #155 closed, assigned to chinmayaAgrawal

[2021-10-28 03:35] Manish-bitpirate opened #168 "Project : Space-Invader-Game"
# Description :
I want to make a simple space invader game using vanilla js

## Features :
- shooter can shoot the invader
- invader if not eliminated before time, on collide will create a game over
- shooter can move freely in the game grid(on the x axis)
- shooter can shoot unlimited times

---
**Tentative Deadline: 2 days (Provide tentative deadline as per your analyses. Make sure it falls unde

[2021-10-28 06:18] #161 closed, assigned to odorifqi

[2021-10-28 06:22] #150 closed, assigned to JaswanthReddyPadala

[2021-10-30 05:04] soumikbaithalu commented on #160
Great go ahead make a PR 👍🏻

[2021-10-30 14:25] sanketmohta99 commented on #97
Hey, Can u assign this to me?
I recently implemented it, I can do this
I have done it in react
I will make the PR today itself

[2021-10-30 15:31] sanketmohta99 commented on #97
I have implemented it
Can u assign it to me so that I can make the PR?

[2021-10-30 16:48] sanketmohta99 commented on #97
@soumikbaithalu Can u please assign me this issue, I have already done the implementation of this
Am Ready to make the PR

[2021-11-02 05:32] #168 closed

[2021-11-05 14:58] soumikbaithalu commented on #132
Are you going to do this ?? @Priyadarshan2000

[2022-10-01 07:15] soumikbaithalu opened #172 "Change the logo of the banner"
# Description :

I need to change the logo in the readme !!!

[2022-10-01 07:16] rrsingh11 commented on #172
Hey! You can assign this issue to me.

[2022-10-01 07:16] satyamgupta1495 commented on #172
What do u want it to be? the current one?

[2022-10-01 07:19] rrsingh11 commented on #172
No, Hacktoberfest 22 Banner. and I can change it to 2022

[2022-10-01 07:21] singhkaran202 commented on #172
@soumikbaithalu , I'd love to work on this if that's OK.

[2022-10-01 07:48] soumikbaithalu opened #173 "card animation using React Transition Group"
# Description :
you can take reference from here :- https://www.geeksforgeeks.org/how-to-create-card-animation-using-react-transition-group/

## Features :
card animation using React Transition Group

---
**Tentative Deadline : n days (Provide tentative deadline as per your analyses. Make sure it falls under 1st Oct to 31st Oct)**

## Some Rules to follow :
- Add a README.md file for your project.

[2022-10-02 03:35] swastikbaithalu commented on #172
Hey I want to take this issue @soumikbaithalu

[2022-10-03 03:34] NazimFilzer commented on #127
Hey.. Can i build its API using NodeMailer?

[2022-10-09 06:00] SohanaShabnam05 commented on #173
hey can you assign me for this issue?

[2022-10-09 06:02] SohanaShabnam05 commented on #98
Can you assign me for this issue??

[2022-10-09 06:07] SohanaShabnam05 commented on #11
Hey, please can I work on classic to-do app??
please assin me for this.

[2022-10-09 07:52] soumikbaithalu commented on #98
@SohanaShabnam05  yes you can work on it

[2022-10-09 07:54] SohanaShabnam05 commented on #98
Thanks for assigning me 😊

On Sun, Oct 9, 2022, 1:22 PM Soumik Kumar Baithalu ***@***.***>
wrote:

[2022-10-09 08:15] SohanaShabnam05 commented on #173
Thanks for assigning me the task 😊.

On Sun, Oct 9, 2022, 11:31 AM Harshil Jani ***@***.***> wrote: